<script setup>
import {reactive} from 'vue'
import {Guess, GetHistory, NewGame} from '../../wailsjs/go/main/App'

const data = reactive({
      message: "Make a guess!",
      history: [],
      showHistory: false,
      currentGuess: ""
})

function guess() {
  Guess(data.currentGuess).then(result => {
    data.message = result
  })
}

function newGame() {
  NewGame().then(result => {
    data.message = "Make a guess!"
    data.currentGuess = ""
  })
}

function showHistory() {
  if (data.showHistory) {
     data.showHistory = false
     return
  }
  
  GetHistory().then(result => {
    data.history = [...result]
    data.showHistory = true
  })
}

</script>

<template>
  <main class="container w-50 d-flex flex-column align-items-center">
    <div class="mt-5 mb-5 fs-3">I'm thinking of a number between 1 and 100 with my super big AI brain...</div>
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex justify-content-center">
            <input id="guessInput" maxlength="3" v-model="data.currentGuess" autocomplete="off" class="form-control w-25" type="text"/>
            <button class="btn btn-primary ms-3" @click="guess">Guess</button>
      </div>
      <div id="message" class="mt-2 mb-2 fs-3 text-primary">{{ data.message }}</div>
      <div class="mt-4">
        <button class="btn btn-danger ms-2" @click="newGame">New Game</button>
        <button class="btn btn-secondary ms-2" @click="showHistory">History</button>
      </div>
    </div>
    <div>Thank you for being a premium subscriber!</div>
  </main>
    <div v-if="data.showHistory" id="history" class="container w-50 mt-5">
         <div class="row"><div class="col fw-bold">Target</div><div class="col fw-bold">Num Guesses</div></div>
        <div v-for="h in data.history" class="row">
             <div class="col">{{ h.Target }}</div>
             <div class="col">{{ h.Guesses }}</div>
        </div>
    </div>
</template>